body {
  font-family: Helvetica,Arial,sans-serif;
}

.bg-color {
  background-color: #14233c;
}

.home-container {
  display: flex;
  align-items:center;
  justify-content: center;
  min-height: 60vh;
}

.social_media_links {
  text-align:center;
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.white-text {
  color: white;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
}


.border-main {
  border-radius: 0px 0px 10px 10px;
}

img {
  border-radius: 10px 10px 10px 10px;
}

.border-content {
  border-style: solid;
  border-color: #14233c;
  border-radius: 10px 10px 10px 10px;
}



.nav a:hover {
  background-color: white;
  color:#14233c;
  border-style: solid;
  border-color: transparent;
  border-radius: 10px 10px 10px 10px;
}

.navbar-main,
.footer {
    padding: 20px;
}

.navbar-main {
  
    overflow: hidden;
    background-color: #14233c;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
