body {
  background-color: #14233c;
  font-family: Helvetica,Arial,sans-serif;
}

.container {
  display: flex;
  align-items:center;
  justify-content: center;
  min-height: 90vh;
}

.information {
  text-align:center;
  color:white;
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.grey-text {
  color: grey;
}
